body {
    background: linear-gradient(135deg, #1C2833);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e6e6e6;
}


form fieldset {
    background: rgba(#1C2833);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    padding: 40px 50px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 350px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

h1, h3 {
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    opacity: 0.8;                     
    filter: drop-shadow(0 0 4px #0002); 
    mix-blend-mode: lighten;         
}

input.form-control {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #777;
    background: rgba(255, 255, 255, 0.1);
    color: #eee;
}

button.btn-primary {
    background: #0e86d4;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

button.btn-primary:hover {
    background: #0b6fa8;
}

.toregister {
    margin-top: 10px;
    text-align: center;
}

.toregister a {
    color: #4db2ff;
    text-decoration: none;
}

.toregister a:hover {
    text-decoration: underline;
}
