<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFIR Case Management - Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form onsubmit="event.preventDefault(); registerAccount();">
        <fieldset>
            <div class="form-container">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" id="email" required>
                
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>    
</body>
</html>
